{% extends 'base.html' %}
{% block mongo %}active{% endblock %}

{% block content %}
<div>
    <p>
        Example for using Mongo API via Mongo driver
    </p>
    <code>db.CUSTOMERS_DV.findOne({"FirstName":"Michael"})</code>
</div>


<pre>
    <code>
        {{mongo_data}}
    </code>
</pre>

<div>
    <form method="POST">
        <div class="mb-3">
            <!-- <label for="email" class="form-label">Update Dom's email</label> -->
            <input type="email" class="form-control" name="email" id="email"><br>
            <button type="submit" class="btn btn-primary">Update email address</button>
        </div>
    </form>
</div>
{% endblock %}


<!-- {% for todo in data %}
<div class="todo">
    <p>{{ todo['content'] }} <i>({{ todo['degree']}})</i></p>
</div>
{% endfor %} -->
