{% extends 'base.html' %}
{% block vector %}active{% endblock %}

{% block content %}

<div>
    <p>Let's vectorize some data using all-minilm.<br>
        It maps sentences & paragraphs to a 384 dimensional dense vector space and can be used for tasks like clustering
        or semantic search.<br>
        We are using the `DBMS_VECTOR_CHAIN` function.
    </p>
    <code>{{ query_result }}</code><br>
    <form method="POST" action="/vector">
        <div class="mb-3">
            <label for="word">Enter a word:</label>
            <input type="text" class="form-control" id="word" name="word" required>
            <button type="submit" class="btn btn-primary">Vectorize!</button>
        </div>
    </form>

</div>


{% endblock %}
