[Unit]
Description=Bootstrap demo schemas and models
After=user-podman.service
Wants=user-podman.service
StartLimitIntervalSec=0

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=on-failure
RestartSec=30
TimeoutStartSec=0
TimeoutStopSec=120

ExecStart=/bin/bash /home/opc/compose2cloud/init/initdb.sh


[Install]
WantedBy=default.target
