[Unit]
Description=Podman Compose App
After=user-podman.service
Wants=user-podman.service

[Service]
Type=simple
Restart=on-failure
TimeoutStartSec=120
TimeoutStopSec=120

ExecStart=/home/opc/compose2cloud/init/initdb.sh


[Install]
WantedBy=default.target